<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextFeild">Book Title</label>
                    <input type="text" class="form-control"
                    id="nameTextFeild"
                    placeholder="Enter the Book Title"
                    name="name" 
                    value="<%= book.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextFeild">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextFeild"
                    placeholder="Enter the Author of the Book"
                    name="author" 
                    value="<%= book.author%>" 
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextFeild">Year</label>
                    <input type="text" class="form-control"
                    id="publishedTextFeild"
                    placeholder="Enter the Year of Publication"
                    name="published" 
                    value="<%= book.published %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextFeild">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextFeild"
                    placeholder="Enter a brief description of the book"
                    name="description" 
                    required>
                    <%= book.description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="costTextFeild">Cost</label>
                    <input type="number" class="form-control"
                    id="costTextFeild"
                    placeholder="Enter the Price of the Book"
                    name="cost" 
                    value="<%= book.cost %>"
                    required>
                </div>

                <button class="btn btn-primary">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>

    </div>
</div>
  
  
<%- include ../partials/bottom_nav.ejs %>  
  
<%- include ../partials/footer.ejs %>
 